.idCardContainer {
  display: flex;
  align-items: center;
  border: "1px solid #ccc";
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.idCardImage {
  margin: 15px;
  width: 150px;
  height: 150px;
  border-radius: 8px;
}
